<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayServlet</servlet-name>
        <servlet-class>DisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerServlet</servlet-name>
        <servlet-class>SellerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-class>PurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayMobileServlet</servlet-name>
        <servlet-class>DisplayMobileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseMobileServlet</servlet-name>
        <servlet-class>PurchaseMobileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerMobileServlet</servlet-name>
        <servlet-class>SellerMobileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayLaptopServlet</servlet-name>
        <servlet-class>DisplayLaptopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerLaptopServlet</servlet-name>
        <servlet-class>SellerLaptopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseLaptopServlet</servlet-name>
        <servlet-class>PurchaseLaptopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayServlet</servlet-name>
        <url-pattern>/DisplayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerServlet</servlet-name>
        <url-pattern>/SellerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/PurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayMobileServlet</servlet-name>
        <url-pattern>/DisplayMobileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseMobileServlet</servlet-name>
        <url-pattern>/PurchaseMobileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerMobileServlet</servlet-name>
        <url-pattern>/SellerMobileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayLaptopServlet</servlet-name>
        <url-pattern>/DisplayLaptopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerLaptopServlet</servlet-name>
        <url-pattern>/SellerLaptopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseLaptopServlet</servlet-name>
        <url-pattern>/PurchaseLaptopServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Main.jsp</welcome-file>
    </welcome-file-list>
</web-app>
